.container {
  margin-inline: auto;
  background-color: #666666;
  width: 500px;
  height: 50vh;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.postIt {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
  transition: rotate 0.5s, width 0.2s, height 0.2s;

  /* prova per attaccharli */
  /* transition: attach 3s;
  opacity: 0;
  animation: attach 3s ease-in forwards; */
}

.green {
  background-color: #cafccb;
  rotate: 9deg;
}

.purple {
  background-color: #c6c6f2;
  rotate: -11deg;
}

.yellow {
  background-color: #fdfdcc;
  rotate: 5deg;
}

.postIt:hover {
  rotate: 0deg;
  width: 100px;
  height: 100px;
}

@keyframes attach {
  from {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  to {
    opacity: 1;
    position: relative;
  }
}
